@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans");
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text');
body,
h1,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif !important;
}

.app-title {
  font-family: "Fredoka One", cursive !important;
}

.color-initial {
  color: #787878 !important;
}

.primary-color{
    /* color: #ffde59; */
    background-color:#CC9933;
}
.img-fluid{
    height: 65px;
    width: 150px;
}
.navHover::after{
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #ffde59;
    content: "";
    display: block;
    height: 4px;
    width: 0; 
}
.navHover:hover::after{
    width: 100%;
}
.nav-link{
  font-size: 1.25em;
}
.navButton{
  background: black;
  color:white;
  border-color: black;
}
.navButton:hover{
  background:white;
  color: black;
  border-color: white;
}
.home{
  background-image: linear-gradient(to top, #fffffd, #fcfbe8, #fbf7d3, #faf2bd, #fbeda7, #fbea9a, #fce68d, #fce37f, #fbe176, #fade6d, #f9dc64, #f8d95b);  max-height: 100vh;
  margin-top: 90px;
}
.fullHeight{
  height: 100vh;
}
.img{
  background: url(res/home_cp_spec-3.png);
  background-size: 40vh 80vh;
  background-repeat: no-repeat;
  background-position: center;
}
.fontStyle{
 font-family: "Libre Caslon Text";
}

* {
  box-sizing: border-box;
}

.text-container{
  padding: 25% 0;

}
.android-icon{
  width: 25px;
  height: 40px;
}
.supportedDevices{
  background: #3DDC84;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
}

/*CSS for Gallery*/
.container {
  position: relative;
}


.mySlides {
  display: none;
  max-width: 55vw;
  max-height: auto;
  box-shadow: 0 1rem 3rem rgba(black, .175);
}


.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-left: 11rem;
  padding: 16px;
  margin-top: -50px;
  color:#000000;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 12rem;
}

.prev:hover,
.next:hover {
  background-image: linear-gradient(to bottom, #fff1b9, #ffefae, #ffeda3, #ffea98, #ffe88d, #ffe686, #ffe57e, #ffe377, #ffe272, #fee16c, #fedf67, #fdde61);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 14%;
}

.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
/*CSS for Cards*/
.card-title{
font-size: 3em;
}
.text-container{
  padding: 25% 0;
  height: auto;
}
.android-icon{
  width: 25px;
  height: 40px;
}
.supportedDevices{
  background: #3DDC84;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
}
.slidesImg{
  width: 100%;
}
