@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans");
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text');
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif !important;
}

.app-title {
  font-family: "Fredoka One", cursive !important;
}

.color-initial {
  color: #787878 !important;
}

.primary-color{
    /* color: #ffde59; */
    background-color:#CC9933;
}
.img-fluid{
    height: 65px;
    width: 150px;
}
.navHover::after{
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #ffde59;
    content: "";
    display: block;
    height: 4px;
    width: 0; 
}
.navHover:hover::after{
    width: 100%;
}
.navButton{
  background: black;
  color:white;
  border-color: black;
}
.navButton:hover{
  background:white;
  color: black;
  border-color: white;
}
.home{
  background-image: linear-gradient(to top, #f9e388, #fae280, #fbe177, #fce06f, #fddf66, #fede60, #fede59, #ffdd52, #ffdc4c, #ffdb46, #ffd940, #ffd839);
  height: 100vh;
  margin-top: 90px;
}

.fullHeight{
  height: 100vh;
}
.img{
  max-width: 100%;
  width: auto;
  height: 100vh;
}
.fontStyle{
 font-family: "Libre Caslon Text";
}

* {
  box-sizing: border-box;
}


/*CSS for Gallery
 Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color:#ffde59;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-image: linear-gradient(to top, #f9e388, #fae280, #fbe177, #fce06f, #fddf66, #fede60, #fede59, #ffdd52, #ffdc4c, #ffdb46, #ffd940, #ffd839);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffde59;
  font-size: 16pt;
  padding: 8px 12px;
  position: absolute;
  font-weight: bold;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}

/*CSS for Cards*/
.card-title{
font-size: 3em;
}
.text-container{
  padding: 25% 0;

}
.android-icon{
  width: 25px;
  height: 40px;
}
.supportedDevices{
  background: #3DDC84;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
}
